@use "../../styles/variables/" as vars;

.button {
  background-color: vars.$black;
  color: vars.$white;
  font-size: 18px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;

  &:disabled {
    color: vars.$grey;
    opacity: 0.7;
    cursor: default;
  }

  &:hover {
    background: vars.$white;
    color: vars.$black;
  }
}
