.comments {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
}

.comments ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
